# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:
- оценка 2 и ниже — низкий рейтинг;
- оценка 4 и ниже — средний рейтинг;
- оценка 4.5 и 5 — высокий рейтинг.


Результат классификации запишите в столбец class.

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('ratings.csv')

In [11]:
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [12]:
def film_class(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    if rating > 2 and rating < 4.5:
        return 'средний рейтинг'
    if rating >= 4.5:
        return 'высокий рейтинг'

In [13]:
df['class'] = df['rating'].apply(film_class)

In [16]:
df.head(24)

    userId  movieId  rating   timestamp            class
0        1       31     2.5  1260759144  средний рейтинг
1        1     1029     3.0  1260759179  средний рейтинг
2        1     1061     3.0  1260759182  средний рейтинг
3        1     1129     2.0  1260759185   низкий рейтинг
4        1     1172     4.0  1260759205  средний рейтинг
5        1     1263     2.0  1260759151   низкий рейтинг
6        1     1287     2.0  1260759187   низкий рейтинг
7        1     1293     2.0  1260759148   низкий рейтинг
8        1     1339     3.5  1260759125  средний рейтинг
9        1     1343     2.0  1260759131   низкий рейтинг
10       1     1371     2.5  1260759135  средний рейтинг
11       1     1405     1.0  1260759203   низкий рейтинг
12       1     1953     4.0  1260759191  средний рейтинг
13       1     2105     4.0  1260759139  средний рейтинг
14       1     2150     3.0  1260759194  средний рейтинг
15       1     2193     2.0  1260759198   низкий рейтинг
16       1     2294     2.0  1260759108   низкий рейтинг
17       1     2455     2.5  1260759113  средний рейтинг
18       1     2968     1.0  1260759200   низкий рейтинг
19       1     3671     3.0  1260759117  средний рейтинг
20       2       10     4.0   835355493  средний рейтинг
21       2       17     5.0   835355681  высокий рейтинг
22       2       39     5.0   835355604  высокий рейтинг
23       2       47     4.0   835355552  средний рейтинг

# Задание 2
Используйте файл keywords.csv.
Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.


Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}


Результат классификации запишите в отдельный столбец region.

In [33]:
import pandas as pd

In [34]:
data = pd.read_csv('keywords.csv')

In [35]:
data.head(15)

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
5   одноклассники моя страница  19976138
6                         майл  15144673
7                        авито  14786593
8                   переводчик  14453469
9                       яндекс  13344734
10             сбербанк онлайн  10725673
11                        mail   7687204
12                        игры   6075762
13                     youtube   5729958
14      вконтакте моя страница   5971451

In [36]:
def region_finder(keyword):
    if 'москва' in keyword or 'тула' in keyword or 'ярославль' in keyword:
        return 'Центр'
    elif 'петербург' in keyword or 'псков' in keyword or 'мурманск' in keyword:
        return 'Северо-Запад'
    elif 'владивосток' in keyword or 'сахалин' in keyword or 'хабаровск' in keyword:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [37]:
data['region'] = data['keyword'].apply(region_finder)

In [43]:
data.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [39]:
data['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64